[Desktop Entry]
Name=Cmd
Exec=/home/lichti/.local/bin/winapps cmd %F
Terminal=false
Type=Application
Icon=/home/lichti/.local/share/winapps/apps/cmd/icon.svg
StartupWMClass=Command Prompt
Comment=Command Prompt
Categories=WinApps;Windows
MimeType=
