[Desktop Entry]
Name=Feishin
Exec=/home/lichti/AppImages/feishin.appimage --no-sandbox %U
TryExec=/home/lichti/AppImages/feishin.appimage
Icon=/home/lichti/.icons/feishin2.svg
Terminal=false
Type=Application

StartupWMClass=Feishin
X-AppImage-Version=0.12.1
Categories=AudioVideo;Audio;Player;

X-AppImage-Version=0.12.1
Comment=
Path=
StartupNotify=false
