[Desktop Entry]
Name=SiYuan
Exec='/mnt/Volume1/Cloud/Portable/Linux Apps/siyuan.appimage' --no-sandbox %U
TryExec=/mnt/Volume1/Cloud/Portable/Linux Apps/siyuan.appimage
Icon=siyuan2
Terminal=false
Type=Application

StartupWMClass=SiYuan
X-AppImage-Version=3.1.17
Comment=Refactor your thinking
Categories=Utility;

X-AppImage-Version=3.1.17
