[Desktop Entry]
Name=Feishin
Exec='/mnt/Volume1/Cloud/Portable/Linux Apps/feishin_0_12_1.appimage' --no-sandbox %U
TryExec=/mnt/Volume1/Cloud/Portable/Linux Apps/feishin_0_12_1.appimage
Icon=feishin2
Terminal=false
Type=Application

StartupWMClass=Feishin
X-AppImage-Version=0.12.1
Categories=AudioVideo;Audio;Player;

X-AppImage-Version=0.12.1
