[Desktop Entry]
X-AppImage-Arch=x86_64
X-AppImage-Version=latest
X-AppImage-Name=LinuxPowerToys
Name=LinuxPowerToys
Exec='/mnt/Volume1/Cloud/Portable/Linux Apps/linuxpowertoys_latest.appimage'
TryExec=/mnt/Volume1/Cloud/Portable/Linux Apps/linuxpowertoys_latest.appimage
Icon=powertoysnew

Type=Application
Terminal=false
Categories=Utility;
Comment=

X-AppImage-Version=latest
