[Desktop Entry]
Name[be]=Ptyxis
Name[cs]=Ptyxis
Name[de]=Ptyxis
Name[en_GB]=Ptyxis
Name[es]=Ptyxis
Name[eu]=Ptyxis
Name[fi]=Ptyxis
Name[he]=Ptyxis
Name[hi]=Ptyxis
Name[id]=Ptyxis
Name[it]=Ptyxis
Name[nb]=Ptyxis
Name[nl]=Ptyxis
Name[pt_BR]=Ptyxis
Name[ru]=Ptyxis
Name[sl]=Ptyxis
Name[sv]=Ptyxis
Name[tr]=Ptyxis
Name[uk]=Ptyxis
Name[zh_CN]=Ptyxis
Name=Ptyxis
Comment[cs]=Kontejnerově orientovaný terminál pro GNOME
Comment[de]=Ein auf Container ausgerichtetes Terminal für GNOME
Comment[en_GB]=A container-oriented terminal for GNOME
Comment[es]=Una terminal para GNOME orientada al trabajo con contenedores
Comment[eu]=Edukiontziekin erabiltzeko terminala GNOMErako
Comment[fa]=پایانه‌ای بارگنج‌محور برای گنوم
Comment[fi]=Konttisuuntautunut pääte Gnomelle
Comment[hi]=गनोम के लिए एक कंटेनर-उन्मुख टर्मिनल
Comment[id]=Terminal berorientasi kontainer untuk GNOME
Comment[it]=Un terminale per GNOME rivolto ai container
Comment[ja]=コンテナ志向の GNOME 向けターミナル
Comment[nb]=Konteinerbasert terminal
Comment[nl]=Een op containers gefocuste terminal voor GNOME
Comment[pt_BR]=Um terminal orientado a contêineres para GNOME
Comment[ru]=Терминал ориентированный на контейнеры для GNOME
Comment[sl]=Zabojnikom posvečen terminal za GNOME
Comment[sv]=En behållarorienterad terminal för GNOME
Comment[tr]=GNOME için konteyner odaklı uçbirim
Comment[uk]=Орієнтований на контейнери термінал для GNOME
Comment[zh_CN]=一款面向容器的 GNOME 终端
Comment=A container-oriented terminal for GNOME
Exec=ptyxis
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=gnome-terminal
DBusActivatable=true
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;System;TerminalEmulator;
GenericName[be]=Тэрмінал
GenericName[cs]=Terminál
GenericName[de]=Terminal
GenericName[en_GB]=Terminal
GenericName[es]=Terminal
GenericName[eu]=Terminala
GenericName[fa]=پایانه
GenericName[fi]=Pääte
GenericName[he]=מסוף
GenericName[hi]=टर्मिनल
GenericName[id]=Terminal
GenericName[it]=Terminale
GenericName[ja]=ターミナル
GenericName[ka]=ტერმინალი
GenericName[nb]=Terminal
GenericName[nl]=Terminal
GenericName[pt_BR]=Terminal
GenericName[ru]=Терминал
GenericName[sl]=Terminal
GenericName[sv]=Terminal
GenericName[tr]=Uçbirim
GenericName[uk]=Термінал
GenericName[zh_CN]=终端
GenericName=Terminal
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[be]=terminal;prompt;ptyxis;shell;command;commandline;cmd;cli;container;podman;toolbox;distrobox;кансоль;камандны;загадны;радок;выканаць;тэрмінал;кантэйнер;
Keywords[cs]=terminál;prompt;ptyxis;shell;příkaz;příkazový;řádek;cmd;cli;kontejner;podman;toolbox;distrobox;
Keywords[de]=terminal;prompt;ptyxis;shell;command;commandline;cmd;cli;container;podman;toolbox;distrobox;Terminal;Prompt;Befehl;Befehlszeile;Container;
Keywords[en_GB]=terminal;prompt;ptyxis;shell;command;commandline;cmd;cli;container;podman;toolbox;distrobox;
Keywords[es]=terminal;prompt;ptyxis;shell;comando;línea de comandos;cmd;cli;contenedor;podman;toolbox;distrobox;
Keywords[fa]=terminal;prompt;ptyxis;shell;command;commandline;cmd;cli;container;podman;toolbox;distrobox;ترمینال;پایانه;اعلان;پوسته;فرمان;خط;بارگنج;پادمن;
Keywords[fi]=terminal;prompt;ptyxis;shell;command;commandline;cmd;cli;container;podman;toolbox;distrobox;pääte;kehote;komento;komentorivi;kontti;
Keywords[hi]=टर्मिनल;प्रॉम्प्ट;ptyxis;शैल;कमांड;कमांडलाइन;cmd;cli;कंटेनर;पॉडमैन;टूलबॉक्स;डिस्ट्रोबॉक्स;
Keywords[id]=terminal;prompt;ptyxis;shell;perintah;perintah baris;cmd;cli;kontainer;podman;toolbox;distrobox;
Keywords[it]=terminale;prompt;ptyxis;shell;comando;riga;cmd;cli;container;podman;toolbox;distrobox;
Keywords[nb]=terminal;prompt;ptyxis;shell;kommando;kommandolinje;konsoll;cmd;cli;konteiner;podman;toolbox;distrobox;
Keywords[pt_BR]=terminal;prompt;ptyxis;shell;comando;linha de comando;cmd;cli;container;contêiner;podman;toolbox;distrobox;
Keywords[ru]=terminal;prompt;ptyxis;shell;command;commandline;cmd;cli;container;podman;toolbox;distrobox;
Keywords[sl]=terminal;utripalka;ptiksa;ptysis;lupina;ukaz;ukazna;vrstica;cmd;cli;vsebnik;zabojnik;kontejner;podman;orodje;toolbox;distrobox;
Keywords[sv]=terminal;prompt;ptyxis;skal;ptyxis;kommando;kommandorad;cmd;cli;behållare;podman;toolbox;distrobox;
Keywords[tr]=terminal;prompt;ptyxis;shell;command;commandline;cmd;cli;container;podman;toolbox;distrobox;uçbirim;uç birim;istem;kabuk;komut;komut satırı;konteyner;
Keywords[uk]=terminal;prompt;ptyxis;shell;command;commandline;cmd;cli;container;podman;toolbox;distrobox;термінал;запит;птиксіс;команда;рядок;клі;контейнер;подмен;тулбокс;дістробокс;
Keywords[zh_CN]=terminal;prompt;ptyxis;shell;command;commandline;cmd;cli;container;podman;toolbox;distrobox;终端;提示符;命令;命令行;容器;
Keywords=terminal;prompt;ptyxis;shell;command;commandline;cmd;cli;container;podman;toolbox;distrobox;
Actions=new-window;new-tab;preferences;
X-ExecArg=--
X-KDE-AuthorizeAction=shell_access

[Desktop Action new-window]
Name[be]=Новае акно
Name[cs]=Nové okno
Name[de]=Neues Fenster
Name[en_GB]=New Window
Name[es]=Ventana nueva
Name[eu]=Leiho berria
Name[fa]=پنجرهٔ جدید
Name[fi]=Uusi ikkuna
Name[he]=חלון חדש
Name[hi]=नई विंडो
Name[id]=Jendela Baru
Name[it]=Nuova finestra
Name[ja]=新しいウィンドウ
Name[ka]=ახალი ფანჯარა
Name[nb]=Nytt vindu
Name[nl]=Nieuw venster
Name[pt_BR]=Nova janela
Name[ru]=Новое окно
Name[sl]=Novo okno
Name[sv]=Nytt fönster
Name[tr]=Yeni Pencere
Name[uk]=Нове вікно
Name[zh_CN]=新建窗口
Name=New Window
Exec=ptyxis --new-window

[Desktop Action new-tab]
Name[be]=Новая ўкладка
Name[cs]=Nová karta
Name[de]=Neuer Reiter
Name[en_GB]=New Tab
Name[es]=Pestaña nueva
Name[eu]=Fitxa berria
Name[fa]=زبانهٔ جدید
Name[fi]=Uusi välilehti
Name[he]=לשונית חדשה
Name[hi]=नया टैब
Name[id]=Tab Baru
Name[it]=Nuova scheda
Name[ja]=新しいタブ
Name[ka]=ახალი ჩანართი
Name[nb]=Ny fane
Name[nl]=Nieuw tabblad
Name[pt_BR]=Nova aba
Name[ru]=Новая вкладка
Name[sl]=Nov zavihek
Name[sv]=Ny flik
Name[tr]=Yeni Sekme
Name[uk]=Нова вкладка
Name[zh_CN]=新建标签页
Name=New Tab
Exec=ptyxis --tab

[Desktop Action preferences]
Name[be]=Налады
Name[cs]=Předvolby
Name[de]=Einstellungen
Name[en_GB]=Preferences
Name[es]=Preferencias
Name[eu]=Hobespenak
Name[fa]=ترجیحات
Name[fi]=Asetukset
Name[he]=העדפות
Name[hi]=प्राथमिकताएं
Name[id]=Preferensi
Name[it]=Preferenze
Name[ja]=設定
Name[ka]=მორგება
Name[nb]=Innstillinger
Name[nl]=Voorkeuren
Name[pt_BR]=Preferências
Name[ru]=Параметры
Name[sl]=Nastavitve
Name[sv]=Inställningar
Name[tr]=Tercihler
Name[uk]=Налаштування
Name[zh_CN]=首选项
Name=Preferences
Exec=ptyxis --preferences
