[Desktop Entry]
Name=Explorer
Exec=/home/lichti/.local/bin/winapps explorer %F
Terminal=false
Type=Application
Icon=/home/lichti/.local/share/winapps/apps/explorer/icon.svg
StartupWMClass=Microsoft Explorer
Comment=Microsoft Explorer
Categories=WinApps;Windows
MimeType=
