[Desktop Entry]
Name=OneNote
Exec=/home/lichti/.local/bin/winapps onenote-o365 %F
Terminal=false
Type=Application
Icon=/home/lichti/.local/share/winapps/apps/onenote-o365/icon.svg
StartupWMClass=Microsoft OneNote
Comment=Microsoft OneNote
Categories=WinApps;Office
MimeType=application/msonenote;
