[Desktop Entry]
Type=Application
Name=SoulseekQt
Exec=/home/lichti/AppImages/AppRun %F
TryExec=/home/lichti/AppImages/AppRun
Icon=/home/lichti/AppImages/.icons/soulseekqt.png

Comment=Edit this default file
Terminal=true

X-AppImage-Version=fa0e7b