[Desktop Entry]
Name=Ableton Live
Exec=flatpak run --command=bottles-cli com.usebottles.bottles run -p 'Ableton Live' -b 'Ableton Live' -- %u
Type=Application
Terminal=false
Categories=Application;
Icon=/home/lichti/.var/app/com.usebottles.bottles/data/bottles/bottles/Ableton-Live/icons/abletonlive.png
Comment=Launch Ableton Live using Bottles.
StartupWMClass=Ableton Live
Actions=Configure;
[Desktop Action Configure]
Name=Configure in Bottles
Exec=flatpak run com.usebottles.bottles -b 'Ableton Live'
