[Desktop Entry]
Name=Affinity Designer
Comment=Affinity Designer is a graphic designing and UX solution that helps businesses create concept art, logos, icons, UI designs, print projects and mock-ups, among other illustrations.
Icon=/home/lichti/.local/share/icons/AffinityDesigner.svg
Path=/home/lichti/.AffinityLinux
Exec=env WINEPREFIX=/home/lichti/.AffinityLinux /home/lichti/.AffinityLinux/ElementalWarriorWine/bin/wine "/home/lichti/.AffinityLinux/drive_c/Program Files/Affinity/Designer 2/Designer.exe"
Terminal=false
NoDisplay=false
StartupWMClass=designer.exe
Type=Application
Categories=Graphics;
StartupNotify=true
[Desktop Entry]
Name=Affinity Designer
Comment=Affinity Designer is a graphic designing and UX solution that helps businesses create concept art, logos, icons, UI designs, print projects and mock-ups, among other illustrations.
Icon=/home/lichti/.local/share/icons/AffinityDesigner.svg
Path=/home/lichti/.AffinityLinux
Exec=env WINEPREFIX=/home/lichti/.AffinityLinux /home/lichti/.AffinityLinux/ElementalWarriorWine/bin/wine "/home/lichti/.AffinityLinux/drive_c/Program Files/Affinity/Designer 2/Designer.exe"
Terminal=false
NoDisplay=false
StartupWMClass=designer.exe
Type=Application
Categories=Graphics;
StartupNotify=true
