[Desktop Entry]
Name=Ferdium
Exec=/home/lichti/AppImages/ferdium.appimage --no-sandbox %U
TryExec=/home/lichti/AppImages/ferdium.appimage
Icon=/home/lichti/.icons/ferdium2.svg
Terminal=false
Type=Application

StartupWMClass=Ferdium
X-AppImage-Version=7.1.0
Comment=Desktop app bringing all your messaging services into one installable
MimeType=x-scheme-handler/ferdium;
Categories=Network;InstantMessaging;

X-AppImage-Version=7.1.0
Path=
StartupNotify=false
