[Desktop Entry]
Name=Feishin
Exec=/home/lichti/AppImages/Feishin.AppImage --no-sandbox %U
TryExec=/home/lichti/AppImages/Feishin.AppImage
#Icon=/home/lichti/.icons/feishin2.svg
Icon=g4music
Terminal=false
Type=Application

StartupWMClass=Feishin
X-AppImage-Version=0.19.0
Categories=AudioVideo;Audio;Player;

Comment=
Path=
StartupNotify=false
