[Desktop Entry]
Version=1.0
Type=Application
Name=DaVinci Resolve Studio
GenericName=Video Editor
Comment=Professional Video Editor
Path=/opt/resolve
Exec=/opt/resolve/bin/resolve %f
Icon=videotrimmer
Terminal=false
Categories=AudioVideo;AudioVideoEditing;
MimeType=application/x-resolveproj;
StartupNotify=true
StartupWMClass=resolve
