[Desktop Entry]
Name=SiYuan
Exec=/home/lichti/AppImages/siyuan.AppImage --no-sandbox %U
TryExec=/home/lichti/AppImages/siyuan.AppImage
Icon=/home/lichti/.icons/siyuan.svg
Icon=ms-onenote
Terminal=false
Type=Application

StartupWMClass=SiYuan
Comment=Refactor your thinking
Categories=Utility;
X-AppImage-Version=3.2.0
