[Desktop Entry]
Type=Application
# Version=1.5
# Commented out because PupNet needs updating to recognise 1.5, so letting it default to latest is ideal.
Name=Nexus Mods App
GenericName=Mod Manager
Comment=Mod Manager for your games
Categories=Game
Terminal=false
StartupWMClass=NexusMods.App
MimeType=x-scheme-handler/nxm

Exec=env DESKTOPINTEGRATION=1 /home/lichti/AppImages/nexus_mods_app.appimage %u
TryExec=/home/lichti/AppImages/nexus_mods_app.appimage
Icon=/home/lichti/AppImages/.icons/nexus_mods_app.svg

X-AppImage-Integrate=true
X-AppImage-Name=NexusMods.App
X-AppImage-Arch=x86_64
X-AppImage-Version=fafd6f