[Desktop Entry]
Name=Outlook
Exec=/home/lichti/.local/bin/winapps outlook-o365 %F
Terminal=false
Type=Application
Icon=/home/lichti/.local/share/winapps/apps/outlook-o365/icon.svg
StartupWMClass=Microsoft Outlook
Comment=Microsoft Outlook
Categories=WinApps;Office
MimeType=application/vnd.ms-outlook;application/octet-stream;
