[Desktop Entry]
Name=Powershell
Exec=/home/lichti/.local/bin/winapps powershell-ide %F
Terminal=false
Type=Application
Icon=/home/lichti/.local/share/winapps/apps/powershell-ide/icon.svg
StartupWMClass=Microsoft Powershell
Comment=Microsoft Powershell
Categories=WinApps;Windows
MimeType=
