[Desktop Entry]
Name=Equibop
Exec=env DESKTOPINTEGRATION=1 /home/lichti/AppImages/equibop.appimage --no-sandbox %U
TryExec=/home/lichti/AppImages/equibop.appimage
Icon=discord
Terminal=false
Type=Application

StartupWMClass=equibop

GenericName=Internet Messenger
Categories=Network;
Keywords=discord;equibop;vesktop;vencord;equicord;electron;chat;
MimeType=x-scheme-handler/discord;
Comment=A fork of Vesktop pre-packaged with Equicord

X-AppImage-Version=2.1.6