[Desktop Entry]
Type=Application
# Version=1.5
# Commented out because PupNet needs updating to recognise 1.5, so letting it default to latest is ideal.
Name=Nexus Mods App
GenericName=Mod Manager
Comment=Mod Manager for your games
Categories=Game
Terminal=false
StartupWMClass=NexusMods.App
Icon=com.nexusmods.app
Exec=/tmp/.mount_nexus_1iY4qH/usr/bin/NexusMods.App %u
TryExec=/tmp/.mount_nexus_1iY4qH/usr/bin/NexusMods.App
X-AppImage-Integrate=true
X-AppImage-Name=NexusMods.App
X-AppImage-Arch=x86_64
MimeType=x-scheme-handler/nxm;x-scheme-handler/nxm
