[Desktop Entry]
Name=SiYuan
Exec=/home/lichti/AppImages/siyuan.appimage --no-sandbox %U
TryExec=/home/lichti/AppImages/siyuan.appimage
Icon=/home/lichti/.icons/siyuan.svg
Terminal=false
Type=Application

StartupWMClass=SiYuan
X-AppImage-Version=3.1.31
Comment=Refactor your thinking
Categories=Utility;

X-AppImage-Version=3.1.31