[Desktop Entry]
Type=Application
Name=rundll32
MimeType=application/x-wine-extension-crd;
Exec=env WINEPREFIX="/home/lichti/.AffinityLinux" wine start /ProgIDOpen Microsoft.InformationCard %f
NoDisplay=true
StartupNotify=true
Icon=5742_rundll32.0
