[Desktop Entry]
Type=Application
Name=A Wine application
MimeType=x-scheme-handler/com.epicgames.launcher;
Exec=env WINEPREFIX="/home/lichti/.wine" wine start %u
NoDisplay=true
StartupNotify=true
