[Desktop Entry]
Type=Application
Name=wscript
MimeType=text/vbscript;
Exec=env WINEPREFIX="/home/lichti/.steam/steam/steamapps/compatdata/1114150/pfx" wine start /ProgIDOpen VBSFile %f
NoDisplay=true
StartupNotify=true
Icon=2905_wscript.0
